.i-arrow-forward
    &:before
        content "\ea04"

.i-dashboard
    &:before
        content "\ea12"

.i-education
    &:before
        content "\ea17"

.i-github
    &:before
        content "\ea1b"

.i-icon-bank
    &:before
        content "\ea1d"

.i-icon-education
    &:before
        content "\ea1e"

.i-icon-link
    &:before
        content "\ea23"

.i-icon-online-education
    &:before
        content "\ea26"

.i-icon-split
    &:before
        content "\ea2c"

.i-icon-twitter
    &:before
        content "\ea34"

.i-route-1
    &:before
        content "\ea49"

.i-route-2
    &:before
        content "\ea4a"

.i-route-3
    &:before
        content "\ea4b"

footer
    border-radius 0 0 3px 3px
    margin-top -9px
    padding 40px 0
    text-align left
    background-image url(https://demo.dvio.global/lp/razorpay/images/footer-bg.jpg)
    background-size cover
    color #fff
    position relative
    padding-top 9rem
    background-position center
    .big
        margin-top -16px
        -webkit-flex-basis 580px
        -ms-flex-preferred-size 580px
        flex-basis 580px
        margin-top -16px
        -webkit-flex-basis 580px
        -ms-flex-preferred-size 580px
        flex-basis 580px
        .column
            -webkit-flex-basis 180px
            -ms-flex-preferred-size 180px
            flex-basis 180px
    ul
        margin-top 16px
        line-height 28px
        li
            margin 0
            padding 0
            &:before
                display none
    a
        color #528ff0
        display block
        font-size 18px
        line-height 1.5
        letter-spacing -.5px
    .column
        -webkit-flex-basis 360px
        -ms-flex-preferred-size 360px
        flex-basis 360px
    .footer-desc
        font-size 14px
    .para
        &.disclaimer
            font-size 10px
    li
        &.social-links
            padding-top 7px
            a
                display inline-block
                margin 0 8px
                &:first-child
                    margin-left 0
                &:last-child
                    margin-right 0
                .social
                    height 24px
                    width 24px
                img
                    height 24px
                    width auto
    .copyright
        color #fff
        font-size 13px
        line-height 24px
    .compliance-logos
        a
            display inline-block
            padding-right 12px
            vertical-align top

.column
    display block
    -webkit-box-flex 1
    -webkit-flex 1 1 0
    -ms-flex 1 1 0px
    flex 1 1 0
    max-width 100%
    &.big
        -webkit-box-flex 1.5
        -webkit-flex-grow 1.5
        -ms-flex-positive 1.5
        flex-grow 1.5

.columns
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap

.space
    margin-top 12px
    &.two-times
        margin-top 24px

.para
    margin-top 12px
    margin-bottom 12px

.footer-up
    padding 0

.img-fluid
    max-width 100%
    height auto
    width 100%

.desc
    &.multi-line
        max-width 320px

body .chat-container .chat-footer, body .mobile-chat-container .chat-footer
    background-color #f4f8ff

i
    &:before
        font-family icons
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-style normal
        font-variant normal
        font-weight 400
        text-decoration none
        text-transform none
        vertical-align bottom
        display inline-block

.butt-input
    display inline-block
    vertical-align middle
    text-align center
    white-space nowrap
    cursor pointer
    line-height 38px
    position relative
    font-weight 700
    font-size 16px
    background #fff
    border-radius 3px
    color #0d2366
    line-height 36px
    height 42px
    border 1px solid rgba(0, 0, 0, .07)
    box-shadow 2px 4px 9px 1px rgb(0 0 0 / 5%)
    -webkit-transition .2s cubic-bezier(.25, .1, .25, 1)
    transition .2s cubic-bezier(.25, .1, .25, 1)
    padding 0 20px
    &.active
        color #528ff0
        background #fff
        input
            width 180px
            opacity 1
            position relative
            z-index 1
            padding-left 14px
            width 180px
            opacity 1
            position relative
            z-index 1
            padding-left 14px
    input
        width 0
        padding 8px 0
        left 1px
        margin 0 20px 0 -20px
        -webkit-transition .22s
        transition .22s
        opacity 0
        height 36px
    button
        padding 8px 18px
        margin 0
        position relative
        font-weight 700
        color #528ff0
        -webkit-transition .2s
        transition .2s
        padding-right 36px

.butt-icon
    i
        top 0
        bottom 0
        font-size 20px
        line-height 43px
        margin-left 4px
        position absolute
        pointer-events none

@media (max-width:1023px)
    footer
        background-image none
        background #0e2ca6
        padding-top 3rem
        .big
            margin-top 0

@media (min-width:960px) and (max-width:1031px)
    footer
        li
            &.social-links
                a
                    &:nth-child(4)
                        margin-right 16px
                    &:nth-child(5)
                        margin-left 0