body, button, input
  font-family: Muli, BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  -webkit-appearance: none
  appearance: none
  background: 0 0
  border: 0
  padding: 0
  line-height: 1.6
  font-size: 15px

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0
  padding: 0
  width: 100%
  color: #414141
  margin: 0
  width: 100%
  overflow-x: hidden

  &:not(#home)
    .hiring-btn
      display: none

  &.open-nav
    height: 100%
    overflow: hidden

    #ham-menu
      position: fixed
      top: -2px
      right: -3px
      -webkit-transition: 0.3s linear
      transition: 0.3s linear

      #ham-menu-inner
        -webkit-transform: translateY(10px) rotate(-180deg)
        -ms-transform: translateY(10px) rotate(-180deg)
        transform: translateY(10px) rotate(-180deg)

      .spoke
        &:nth-child(1)
          -webkit-transform: rotate(45deg)
          -ms-transform: rotate(45deg)
          transform: rotate(45deg)

        &:nth-child(2)
          -webkit-transform: translateY(0) rotate(135deg)
          -ms-transform: translateY(0) rotate(135deg)
          transform: translateY(0) rotate(135deg)
          opacity: 0

        &:nth-child(3)
          -webkit-transform: rotate(-45deg)
          -ms-transform: rotate(-45deg)
          transform: rotate(-45deg)

    #nav
      &.new-navbar
        -webkit-transform: translateX(0)
        -ms-transform: translateX(0)
        transform: translateX(0)

    #nav-mob-header-copy
      opacity: 1
      -webkit-transition-delay: 0.3s
      transition-delay: 0.3s

    .backdrop
      display: block
      background-color: #000
      opacity: 0.5
      pointer-events: visible

a
  cursor: pointer
  text-decoration: none
  color: inherit

button
  color: inherit
  cursor: pointer

*
  box-sizing: border-box
  outline: 0

h1
  font-size: 36px
  line-height: 40px

h2
  font-size: 24px
  line-height: 32px
  color: #102562

h3
  font-size: 20px
  line-height: 32px

h4
  font-size: 18px
  line-height: 24px

h5
  font-size: 16px

h6
  font-size: 14px

h1, h2, h3, h4, h5, h6 p
  margin: 0

img
  max-height: 100%
  max-width: 100%
  vertical-align: middle
  max-width: 100%

ul
  padding: 0
  margin: 0

li
  list-style: none

strong
  font-weight: 600
  letter-spacing: 1px
  text-transform: uppercase

@font-face
  font-family: icons
  font-display: block
  src: url('https://demo.dvio.global/lp/razorpay/pug/fonts/fonticon.eot')
  src: url('https://demo.dvio.global/lp/razorpay/pug/fonts/fonticon.eot?#iefix') format('eot'), url('https://demo.dvio.global/lp/razorpay/pug/fonts/fonticon.woff2') format('woff2'), url('https://demo.dvio.global/lp/razorpay/pug/fonts/fonticon.woff') format('woff'), url('https://demo.dvio.global/lp/razorpay/pug/fonts/fonticon.ttf') format('truetype'), url('https://demo.dvio.global/lp/razorpay/pug/fonts/fonticon.svg#icons') format('svg')

i[class^=char-]
  margin: 0 5px
  opacity: 0.7

i
  &:before
    font-family: icons
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-style: normal
    font-variant: normal
    font-weight: 400
    text-decoration: none
    text-transform: none
    vertical-align: bottom
    display: inline-block
    font-family: 'icons'
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-style: normal
    font-variant: normal
    font-weight: normal
    text-decoration: none
    text-transform: none
    vertical-align: bottom
    display: inline-block

.slick-disabled
  opacity: 0
  pointer-events: none

.slick-slide
  display: none
  float: left
  height: 100%
  min-height: 1px

  .inner
    margin: 0px
    border-right: 1px #ccc solid

  img
    display: block

  &.slick-loading
    img
      display: none

  &.dragging
    img
      pointer-events: none

.container-fluid
  width: 100% !important

.bannerSec
  background: url('../images/banner.svg') no-repeat
  height: 688px
  width: 100%
  background-size: 100% 100%
  background-size: cover

#home:after, #home:after
  z-index: -1
  position: absolute
  top: 98.1%
  left: 70%
  margin-left: -70%
  content: ''
  width: 0
  height: 0
  border-top: solid 6rem #f4f8fe
  border-left: solid 0px transparent
  border-right: solid 10rem transparent

.container
  width: 100%
  max-width: 1080px
  margin: 0 auto
  width: 100%
  max-width: 1080px
  margin: 0 auto
  position: relative
  padding: 0 10px

  & > .columns
    margin-left: -12px
    margin-right: -12px

.BannerLeft
  width: 50%
  display: inline-block

  img
    max-width: 150px
    margin-top: 50px
    margin-bottom: 40px

  h1
    color: #fff
    padding: 30px 0
    max-width: 380px
    padding-bottom: 10px

  p
    color: #fff
    font-weight: 500
    font-size: 18px

.BannerRight
  width: 49%
  display: inline-block
  vertical-align: top
  text-align: center
  position: relative

.banner-man
  margin: 0px
  width: 100%
  left: 19%
  top: 10%
  position: absolute
  max-width: 180px

.formMain
  max-width: 320px
  width: 100%
  min-height: 390px
  margin: 23px auto 40px 43%
  padding: 15px
  text-align: center

  img
    border-radius: 10px

.banner-mobile
  background-image: url('../images/mobile-banner.png')
  background-size: cover
  background-position: center
  min-height: 900px

.bannerWomen
  width: 120px
  position: absolute
  right: -16.2%
  top: 9px

.sec2
  padding: 15px 0

  p
    text-align: center
    padding: 0
    font-weight: 700
    color: #14265e
    font-size: 19px

.sec3
  background: #f4f8fe
  padding: 2px 0 25px 0
  position: relative

  p
    text-align: center
    padding: 0
    font-weight: 700
    color: #14265e
    font-size: 19px

#home
  padding: 0px

  .login-link
    display: block
    padding: 9px 21px
    cursor: pointer
    color: #fff
    background: rgba(11, 112, 231, 0.1)
    border: 1px solid #2b83ea
    border-radius: 2px
    font-weight: bold
    font-size: 14px
    display: block
    padding: 9px 21px
    cursor: pointer
    color: #fff
    background: rgba(11, 112, 231, 0.1)
    border: 1px solid #2b83ea
    border-radius: 2px
    font-weight: bold
    font-size: 14px

  #nav
    color: #fff

    &.new-navbar
      .login-item
        padding-top: 0
        padding-bottom: 0

  .hiring-btn
    color: #fff
    display: none

    &:before
      background-color: rgba(255, 255, 255, 0.5)

  .top-nav-login-home
    display: none !important

  .rzp-logo
    background: url('../images/razorpay-logo-white.svg') no-repeat center
    background-size: contain

  #pg
    padding-top: 195px

    .i-arrow-forward-ios
      padding-left: 10px
      font-size: 13px
      color: #528ff0

    .pre-info
      position: relative
      margin-top: 80px
      border-radius: 6px
      padding: 40px 40px 53px 40px
      background: url('/assets/home/pg-graphic.png') no-repeat
      background-position-x: right
      background-position-y: center
      background-size: contain
      background-color: #fff
      border: 1px solid rgba(4, 9, 63, 0.05)

      .svg-corner
        display: none

      .corner-content
        display: none

      .title
        font-size: 28px
        line-height: 150%
        max-width: 510px
        color: #132763
        font-weight: bold

        span
          color: #3281ff

    .product-card
      .svg-corner
        .border
          #home
            #pg
              .pre-info
                .svg-corner
                  .border
                    -webkit-transition: 0.1s all ease-in
                    transition: 0.1s all ease-in

.buttons
  background: #4543e0
  padding: 8px 0
  display: inline-block
  width: 31%
  margin: 0 1%
  text-align: center
  color: #fff
  text-transform: uppercase
  font-weight: 700
  border-radius: 4px
  border-bottom: 6px #ccd0d5 solid
  transition: transform 175ms ease-in, opacity 175ms ease-in, -webkit-transform 175ms ease-in

  &:hover
    transform: scale(1.05, 1.05)

  a
    &:hover
      color: #f3e000

#online-course
  padding-top: 0px
  padding-bottom: 0px

  .bluebg
    background: #f4f8fe url('../images/boxes.svg')
    background-repeat: no-repeat
    background-position: 9% 43%

.custom-shape-divider-bottom-1632476021
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0
  transform: rotate(180deg)

  svg
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 42px
    transform: rotateY(180deg)

  .shape-fill
    fill: #f4f8fe

.custom-shape-divider-top-1632475320
  position: absolute
  top: 0
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0

  svg
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 42px

  .shape-fill
    fill: #f4f8fe

.sec4
  padding: 30px 0
  position: relative
  padding-top: 5%

  h1
    color: #14265e

.custom-shape-divider-bottom-1632475645
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0
  transform: rotate(180deg)

  svg
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 45px

  .shape-fill
    fill: #f4f8fe

.Sec4TopLeft
  padding: 36px 0 0 10px
  width: 70%
  display: inline-block

  p
    text-align: left
    font-weight: 700
    margin-top: 5px

.Sec4TopRight
  text-align: right
  vertical-align: top
  width: 29%
  display: inline-block

  img
    max-width: 260px

.Sec4TopLeft1
  padding: 0 0 0 60px
  width: 70%
  display: inline-block
  text-align: left

  p
    text-align: left
    font-weight: 700
    margin-top: 5px

.Sec4TopRight1
  text-align: left
  vertical-align: top
  width: 29%
  display: inline-block

  img
    max-width: 260px

.box1
  box-shadow: 0 0 8px #ccc
  padding: 30px
  width: 31%
  display: inline-block
  margin: 0 10px
  background: #fff
  vertical-align: top
  transition: transform 175ms ease-in, opacity 175ms ease-in, -webkit-transform 175ms ease-in

  &:hover
    transform: scale(1.05, 1.05)

  img
    max-width: 46px

  h2
    font-size: 19px
    font-weight: 700
    padding-top: 6px

  ul
    padding: 10px 0 25px 0
    min-height: 108px

    li
      background: url('../images/arrow.jpg') no-repeat 0 3px
      padding: 0 0 10px 25px
      font-size: 13px
      color: #7c8297

  a
    color: #fff
    background-image: linear-gradient(to right, #4ab2f6, #523ec9)
    padding: 5px 15px
    text-align: center
    border-radius: 15px

.botText
  text-align: center
  padding: 20px 0
  font-weight: 700
  font-size: 14px
  color: #14265e

  a
    color: #408ef7

.bluebg
  background: #f4f8fe

.institution
  min-height: 294px

.onlinecourses
  min-height: 342px

.freelanceCouches
  min-height: 366px

.center-desktop
  h1
    color: #14265e
    text-transform: uppercase
    text-align: left
    padding: 20px 10px

#faqs
  padding: 30px 0
  background: #f4f8fe
  margin-top: -1%

  a
    color: #528ff0

  h2
    padding-bottom: 25px
    text-align: center !important

    & + p
      &.mob
        margin: 0 0 10px 0

    &:after
      background: #6ce8ab
      margin-left: auto !important
      margin-right: auto !important

  .faq
    padding: 24px 0
    min-height: 462px

    .content
      width: 100%
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -webkit-flex-direction: column
      -ms-flex-direction: column
      flex-direction: column

      .inner
        background: #fefefe
        border-radius: 3px
        max-width: 526px
        margin: 12px 0 0 0

        &:nth-last-child(2)
          border: none

          .mob
            display: none

        .faqs-tab-title
          display: inline-block
          text-align: left
          padding: 8px
          width: 100%
          position: relative
          border-top: 0px solid rgb(212 212 212 / 80%)
          border: 1px solid rgb(212 212 212 / 80%)
          background: #f4f8fe
          border-bottom: 0px
          z-index: 5

          &:hover
            cursor: pointer
            border-bottom: 1px solid rgb(212 212 212 / 80%)

            & + .faqs-tab-title-content
              & + .faqs-tab-title
                border-top: 0

          &.active
            & + .faqs-tab-title-content
              display: block
              min-height: 540px

              & + .faqs-tab-title
                &:hover
                  border: 1px solid rgb(212 212 212 / 80%)

          &:first-child
            border-top: 1px solid rgb(212 212 212 / 80%)
            border-bottom: 0px
            border-bottom: 0px

          &.last
            border-bottom: 1px solid rgb(212 212 212 / 80%)

          &:after
            content: ''
            height: 6px
            width: 6px
            -webkit-transform: rotate(135deg) translate(19px, 2px)
            -ms-transform: rotate(135deg) translate(19px, 2px)
            transform: rotate(135deg) translate(19px, 2px)
            border: 1px solid #7b8199
            border-right: 0
            border-bottom: 0
            position: relative
            float: right
            margin-right: 6px

          .q
            padding-right: 10px
            font-size: 15px
            line-height: 21px
            color: #515978
            display: inline-block
            max-width: 400px

          .dot
            background: #418ef8
            border-radius: 50%
            width: 15px
            height: 15px
            margin: 6px 13px 8px 8px
            display: inline-block
            vertical-align: top

        .faqs-tab-title-content
          -webkit-transition: 0.25s all cubic-bezier(0.22, 0.63, 0.41, 0.86)
          transition: 0.25s all cubic-bezier(0.22, 0.63, 0.41, 0.86)
          -webkit-box-align: center
          -webkit-align-items: center
          -ms-flex-align: center
          align-items: center
          -webkit-box-orient: vertical
          -webkit-box-direction: normal
          -webkit-flex-direction: column
          -ms-flex-direction: column
          flex-direction: column
          position: absolute
          right: 0
          max-width: calc(100% - 390px)
          z-index: 1
          width: 50%
          display: none
          left: 525px
          text-align: left
          background: #fafbff
          border: 1px solid rgb(212 212 212 / 80%)
          box-shadow: none
          padding: 48px
          top: 2rem

          &.nomob
            min-height: 900px

          .heading
            font-weight: bold
            font-size: 18px
            line-height: 30px
            color: #515978

            &:after
              background: #418ef8
              content: ''
              display: block
              width: 14px
              height: 4px
              margin-top: 16px

          p
            line-height: 30px
            color: #515978
            margin-bottom: 0

          table
            margin: 15px 0 0

            th
              width: 100px
              vertical-align: baseline

  .Sec4TopRight
    position: absolute
    width: 20%
    right: -11%

  .Sec4TopLeft
    width: 100%

.marquee
  width: 100%
  margin: 0 auto
  overflow: hidden
  position: relative

.VidTesti
  min-height: 318px

.video
  padding: 0px
  background-color: transparent

  ul
    position: absolute !important
    bottom: 1.5rem
    right: 2rem
    margin: 0 auto
    width: 68%

  .message
    position: relative

  .quotes
    right: -11%

@media (max-width: 767px)
  .image-marquee
    width: 100%

@media only screen and (max-width: 1059px)
  .bannerWomen
    right: -17.5%

@media only screen and (min-width: 1025px) and (max-width: 1188px)
  .BannerLeft
    width: 40%
    display: inline-block

  #faqs
    .Sec4TopRight
      width: 13% !important
      right: 0% !important

    .faq
      .content
        .inner
          .faqs-tab-title-content
            width: 47% !important

@media only screen and (min-width: 800px) and (max-width: 1024px)
  .container
    max-width: 1000px
    margin: 0 auto
    width: 100%

  .BannerLeft
    width: 36%
    display: inline-block

  .box1
    width: 30%
    display: inline-block

  .bannerWomen
    right: -100px

  .Sec4TopRight
    width: 12%
    right: 0
    position: relative

  #faqs
    .container
      width: 95%

    .faq
      .content
        width: 89%

        .inner
          .faqs-tab-title-content
            width: 46% !important

    .Sec4TopRight
      width: 13% !important
      right: 0% !important

@media only screen and (max-width: 768px)
  .bannerSec
    background: url('../images/mobile-banner.png') no-repeat
    height: auto
    width: 100%
    background-size: 100% 100%

  #home
    &:after
      top: 95.1%

  .nomob
    display: none

  h1
    font-size: 23px
    line-height: 34px

  .container
    width: 100%
    max-width: 1080px
    margin: 0 auto

  .BannerLeft
    width: 100%
    max-width: 400px
    margin: 10px auto
    margin-bottom: 12px

    img
      max-width: 150px
      margin: 14px auto

    h1
      color: #fff
      padding: 0 0
      font-size: 25px
      line-height: 29px

    p
      color: #fff
      font-weight: 700
      font-size: 15px

  .BannerRight
    width: 90%
    display: block
    vertical-align: top
    text-align: center
    margin: 0 auto

  .formMain
    max-width: 300px
    width: 100%
    min-height: 390px
    margin: 15px auto
    padding: 15px
    text-align: center

  .banner-man
    display: none

  .bannerWomen
    display: none

  .logo-mob
    margin-bottom: 43px

  .box1
    box-shadow: 0 0 8px #ccc
    padding: 30px
    width: 90%
    display: block
    margin: 0 auto 20px auto
    background: #fff
    vertical-align: top

  .buttons
    background: #4543e0
    padding: 8px 0
    display: block
    width: 90%
    margin: 0 auto
    text-align: center
    color: #fff
    text-transform: uppercase
    font-weight: 700
    border-radius: 4px
    border-bottom: 6px #ccd0d5 solid

  .botText
    text-align: center
    padding: 20px 0
    font-weight: 700
    font-size: 14px
    color: #14265e
    width: 90%
    margin: 0 auto

  .Sec4TopLeft
    padding: 36px 0 0 10px
    width: 90%
    display: block
    margin: 0 auto
    position: relative

    p
      text-align: left
      font-weight: 700
      margin-top: 5px

  .Sec4TopRight
    text-align: right
    vertical-align: top
    width: 90%
    display: block
    margin: 0 auto
    position: relative

    img
      max-width: 260px
      margin: 0 auto 30px auto

  .video
    ul
      position: absolute !important
      bottom: 1.5rem
      right: 2rem
      margin: 0 auto
      width: 88%

  .Sec4TopLeft1
    padding: 0
    width: 90%
    display: block
    text-align: left
    margin: 0 auto

    p
      text-align: left
      font-weight: 700
      margin-top: 5px

  .Sec4TopRight1
    text-align: left
    vertical-align: top
    width: 90%
    display: block
    margin: 0 auto

    img
      max-width: 260px
      margin: 0 auto 30px auto

@media (max-width: 959px)
  .marquee
    .marquee-content
      .customer-logo
        width: 20vw

@media screen and (max-width: 1023px) and (min-width: 320px)
  .marquee
    width: 100%
    margin: 0

    .marquee-content
      img
        &.customer-logo
          margin-right: 45px
          width: 100%

@keyframes {scrolling}
  0%
    margin-left: 0

  100%
    margin-left: -1152px

  .sk-input-wrap
    input
      color: #555
      background: #fff
      width: 100%
      margin: 15px 0 -5px
      border: 1px solid #ddd
      padding: 0 10px
      line-height: 34px
      border-radius: 2px

  @media (max-width: 1023px)
    #faqs
      .container
        padding-left: 0
        padding-right: 0

section
  position: relative
  padding: 60px 0

@media (min-width: 1024px)
  .center-desktop
    text-align: center
    margin-right: auto
    margin-left: auto

@media (min-width: 1024px)
  .center-desktop
    h1:after
      margin-left: auto
      margin-right: auto

  .center-desktop
    h2:after
      margin-left: auto
      margin-right: auto

  .mob, .img-mob
    display: none !important

@media (max-width: 1023px)
  .mob
    display: block !important

.tab-caption
  text-transform: uppercase
  float: left
  font-size: 12px
  color: #777
  letter-spacing: 1px
  font-weight: bold
  padding: 0 16px 0 32px

  &:after
    content: '|'
    color: #ddd
    margin-left: 32px

.tab-content
  display: none
  width: 100%
  opacity: 0
  -webkit-transition: 0.3s
  transition: 0.3s
  pointer-events: none
  -webkit-transform: translateY(4px)
  -ms-transform: translateY(4px)
  transform: translateY(4px)

.tab-content.active, .tab-content.always-active
  display: block
  -webkit-transform: none !important
  -ms-transform: none !important
  transform: none !important
  -webkit-transition-delay: 0.18s
  transition-delay: 0.18s
  opacity: 1
  pointer-events: auto

.tabs-head
  position: relative

.tab-title
  cursor: pointer
  position: relative

@media (max-width: 1023px)
  h1
    font-size: 28px
    line-height: 40px

  h2
    font-size: 22px
    line-height: 32px

  .container
    padding: 0 24px
    width: 100%

  section
    padding: 30px 0

section#faq
  .faq
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    padding: 24px 0

    &:not(:last-child)
      border-bottom: 1px solid #eee

    .margin-area
      font-size: 12px
      width: 20px
      color: #fff
      text-align: center
      line-height: 20px
      font-weight: bold
      margin: 0 8px

      .line
        margin-left: 9px
        width: 1px
        background-color: #eee
        height: calc(100% - 30px)

      .number
        background: -webkit-linear-gradient(230.84deg, #46d0ff 0%, #5283ff 100%)
        background: linear-gradient(219.16deg, #46d0ff 0%, #5283ff 100%)
        border-radius: 50%
        width: 20px
        height: 20px

    .content
      width: 100%
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-box-orient: horizontal
      -webkit-box-direction: normal
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row

      .q
        width: 40%
        font-weight: bold
        padding-right: 4px

      .a
        width: 55%
        text-align: justify

        .anchor
          color: #528ff0

@media (max-width: 767px)
  section#faq
    .faq
      .margin-area
        margin: 0
        margin-right: 8px

        .number
          width: 18px
          height: 18px
          font-size: 12px
          line-height: 18px
          margin-top: 2px

      .content
        display: -webkit-box
        display: -webkit-flex
        display: -ms-flexbox
        display: flex
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -webkit-flex-direction: column
        -ms-flex-direction: column
        flex-direction: column

        .q
          margin-bottom: 8px

  #faqs
    .mob
      &.active
        display: block !important

@media (max-width: 767px)
  section#faq .faq .content .q
    width: 100%

  section#faq
    .faq
      .content
        .a
          width: 100%

#faqs .faq .content .inner .faqs-tab-title.active, #faqs .faq .content .inner .faqs-tab-title:hover
  background: #fafbff
  border: 1px solid #418ef847
  z-index: 5

#faqs .faq .content .inner .faqs-tab-title.active:after, #faqs .faq .content .inner .faqs-tab-title:hover:after
  content: ''
  height: 6px
  width: 6px
  -webkit-transform: rotate(135deg) translate(19px, 2px)
  -ms-transform: rotate(135deg) translate(19px, 2px)
  transform: rotate(135deg) translate(19px, 2px)
  border: 1px solid #418ef8
  border-right: 0
  border-bottom: 0
  position: relative
  float: right
  margin-right: 6px

#faqs .faq .content .inner .faqs-tab-title-content table, #faqs .faq .content .inner .faqs-tab-title-content th, #faqs .faq .content .inner .faqs-tab-title-content tr, #faqs .faq .content .inner .faqs-tab-title-content td
  border: 1px solid #000
  border-collapse: collapse
  padding: 10px

.icon
  width: 48px
  height: 48px
  background: no-repeat center
  background-size: contain

.slick-slider
  position: relative
  display: block
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent

.slick-list
  position: relative
  display: block
  overflow: hidden
  margin: 0
  padding: 0

  &:focus
    outline: 0

  &.dragging
    cursor: pointer
    cursor: hand

.slick-slider .slick-list, .slick-slider .slick-track
  -webkit-transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)
  -ms-transform: translate3d(0, 0, 0)
  -o-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  top: 0
  left: 0
  display: block
  margin-left: auto
  margin-right: auto

  &:after
    clear: both

.slick-track:after, .slick-track:before
  display: table
  content: ''

.slick-loading
  .slick-track
    visibility: hidden

  .slick-slide
    visibility: hidden

[dir=rtl]
  .slick-slide
    float: right

.slick-initialized
  .slick-slide
    display: block

.slick-vertical
  .slick-slide
    display: block
    height: auto
    border: 1px solid transparent

.slick-arrow
  &.slick-hidden
    display: block

.testimonials
  overflow: hidden
  position: relative
  max-height: 300px

.testi1
  margin-right: 6%

  &.t1
    margin-right: 0px

.testi-msg
  display: inline-block
  width: 76%
  padding: 2%
  color: #fff

  .msg
    &:after
      background: #4ba7f1
      content: ''
      display: block
      width: 80%
      height: 4px
      margin-top: 16px

  ul
    margin-top: 4%
    margin-bottom: 4%
    position: relative

    li
      display: inline-block
      vertical-align: top

  p
    margin: 0px
    font-size: 17px
    margin-bottom: 2rem

.testi-logo
  img
    width: 65%
    margin-left: 5%

.testimonial
  background-color: #1932a8
  border-radius: 13px
  padding: 1rem
  min-height: 320px

.quotes
  position: absolute
  bottom: 2rem
  right: -8%

  img
    width: 74%

.testi-img
  display: inline-block
  width: 23%
  vertical-align: top
  padding: 7px

  img
    margin-top: 8%
    border-radius: 4px

.testimonial-content
  width: 100%
  position: relative
  margin-top: -4px
  margin-bottom: 3%

#testimonial
  padding-bottom: 7rem

  .testi-main-img
    width: 75%

  .Sec4TopLeft
    width: 30%

  .Sec4TopRight
    text-align: right
    vertical-align: bottom
    width: 64%
    display: inline-block
    color: #14265e
    text-transform: uppercase
    padding-bottom: 2%

  h1
    color: #14265e

.one-slide, .testimonial, .message
  border: none !important
  outline: none !important

.icon-overlay
  position: absolute
  opacity: 0.3
  right: 10%
  top: 0
  height: auto
  width: 100%
  max-width: 400px

.carousel-controls
  .control
    position: absolute
    width: 45px
    height: 45px
    border-radius: 50%
    border: 2px solid #fff
    z-index: 1
    margin: 0 auto
    margin-top: 4%
    cursor: pointer

.prev
  left: -5.25rem
  transform: rotate(180deg)

.controller
  position: relative
  max-width: 500px
  margin: 0 auto
  top: 20%

.testi-icon
  width: 30%
  margin-left: 2%

.text-uppercase
  text-transform: uppercase

.text-right
  text-align: right

.next
  right: -1.25rem

.form-banner
  position: absolute
  top: 0
  right: -3rem

@media (max-width: 1023px)
  #faqs
    .nomob
      display: none !important

    .mob
      text-align: center
      padding-bottom: 0

      &:after
        margin-left: auto
        margin-right: auto

    .faq
      .content
        .inner
          height: 100%
          max-width: 100%

          .faqs-tab-title
            padding: 12px 24px
            width: 100%

            &:first-child
              border-top: 2px solid #e4eeff

            &:nth-last-child(2)
              border-bottom: 2px solid #e4eeff !important

            .dot
              display: none

            .q
              max-width: calc(100% - 42px)
              line-height: 26px

          .faqs-tab-title-content
            width: 100%
            padding: 30px 24px
            left: 0
            position: relative
            max-width: 100%
            top: 0
            height: 100% !important

            p
              margin-top: 0
              margin-bottom: 0
              line-height: 28px

@media (max-width: 1023px)
  #faqs .faq .content .inner .faqs-tab-title.active
    border-right: 0
    border-left: 0
    background: #fff

  #faqs .faq .content .inner .faqs-tab-title:hover
    border-right: 0
    border-left: 0
    background: #fff

@media (max-width: 1023px)
  #faqs .faq .content .inner .faqs-tab-title.active:hover:after
    -webkit-transform: translate(5px, 5px)
    -ms-transform: translate(5px, 5px)
    transform: translate(5px, 5px)
    content: ''
    background: url('/assets/icons/arrow-up.svg') no-repeat
    position: relative
    float: right
    height: 28px
    width: 28px
    border: none

  #faqs .faq .content .inner .faqs-tab-title.active:after
    -webkit-transform: translate(5px, 5px)
    -ms-transform: translate(5px, 5px)
    transform: translate(5px, 5px)
    content: ''
    background: url('/assets/icons/arrow-up.svg') no-repeat
    position: relative
    float: right
    height: 28px
    width: 28px
    border: none

@media (max-width: 1023px)
  #faqs .faq .content .inner .faqs-tab- title:after
    -webkit-transform: rotate(180deg)

  -ms-transform rotate(180deg)
    transform: rotate(180deg)
    content: ''
    background: url('/assets/icons/arrow-up.svg') -webkit-transform rotate(180deg)
    -ms-transform: rotate(180deg)
    transform: rotate(180deg)
    content: ''
    background: url('/assets/icons/arrow-up.svg') no-repeat
    position: relative
    float: right
    height: 28px
    width: 28px
    border: none

  #faqs .faq .content .inner .faqs-tab-title:hover:after
    -webkit-transform: rotate(180deg)
    -ms-transform: rotate(180deg)
    transform: rotate(180deg)
    content: ''
    background: url('/assets/icons/arrow-up.svg') no-repeat
    position: relative
    float: right
    height: 28px
    width: 28px
    border: none

@media (max-width: 767px)
  #faqs
    .faq
      .content
        .inner
          .faqs-tab-title-content
            width: 100%
            padding: 30px 24px
            left: 0
            position: relative
            max-width: 100%
            top: 0
            height: 100% !important
            min-height: auto !important

            &.nomob
              min-height: auto

          .faqs-tab-title
            .q
              width: 80%

            &.last
              border-bottom: 2px solid rgb(212 212 212 / 80%)

            &:after
              margin-right: -5px

    .Sec4TopRight
      position: absolute
      width: 20%
      right: 1%
      top: 27%

    .nomob
      &.active
        display: none !important

  .testi-img
    width: 100%

  .testi-msg
    width: 100%

  .testi1
    margin-right: 0%

  .video
    background-color: transparent

  #testimonial
    .Sec4TopRight
      text-align: right
      vertical-align: bottom
      width: 100%
      display: inline-block
      color: #14265e
      text-transform: uppercase
      padding-bottom: 2%

      img
        max-width: 260px
        margin: 0px auto -8px auto

    .Sec4TopLeft
      width: 100%
      text-transform: uppercase

    h1
      color: #14265e

  .butt-input
    width: 100%

    button
      padding-right: 6px !important

    &.active
      input
        padding-left: 0px !important

@media (max-width: 400px)
  #faqs
    .faq
      .content
        .inner
          .faqs-tab-title
            .q
              width: 70%

  .butt-input
    &.active
      input
        width: 148px !important

  .slick-slide
    margin: 2px

.left
  float: left

.right
  float: right

.rzp-logo
  width: 125px
  height: 32px
  background: url('../images/razorpay-logo-white.svg') no-repeat center
  background-size: contain

.hiring-btn
  color: rgba(255, 255, 255, 0.87)
  font-size: 14px
  line-height: 20px
  background: -webkit-linear-gradient(0, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.03) 100%)
  background: linear-gradient(0, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.03) 100%)
  border-radius: 1px
  padding: 8px 12px 8px 24px
  margin-right: 16px
  position: relative
  display: none
  -webkit-transition: 0.5s border-bottom-color
  transition: 0.5s border-bottom-color
  border-bottom-color: transparent
  box-sizing: border-box
  height: 36px

  &::before
    content: ''
    height: 8px
    width: 8px
    border-radius: 50%
    background-color: #fff
    position: absolute
    top: 50%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    left: 10px

  &.mobile
    position: absolute
    top: 7px
    right: 40px
    color: #528ff0
    background-color: rgba(82, 143, 240, 0.06)

    &:before
      background-color: #528ff0

  &:hover
    padding-bottom: 8px
    border-bottom: 2px solid #fff

    &::before
      top: calc(50% + 1px)

  &.hidden
    width: 0
    height: 0
    margin: 0
    padding: 0
    overflow: hidden

@media (max-width: 1023px)
  .hiring-btn
    &.mobile
      display: inline-block

@media (min-width: 1024px)
  .hiring-btn
    &.desktop
      display: inline-block

.link, .btn, .btn-input
  display: inline-block
  vertical-align: middle
  text-align: center
  white-space: nowrap
  cursor: pointer
  line-height: 38px
  position: relative
  font-weight: bold
  font-size: 16px

.gap-h
  width: 40px

.column
  display: block
  -webkit-box-flex: 1
  -webkit-flex: 1 1 0
  -ms-flex: 1 1 0px
  flex: 1 1 0%
  max-width: 100%

  &:not(.columns)
    padding: 12px

  &.big
    -webkit-box-flex: 1.5
    -webkit-flex-grow: 1.5
    -ms-flex-positive: 1.5
    flex-grow: 1.5

  &.double
    -webkit-box-flex: 2
    -webkit-flex-grow: 2
    -ms-flex-positive: 2
    flex-grow: 2

.columns
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap

@font-face
  font-family: 'icons2'
  font-display: block
  src: url('/assets/fonts/icons.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/icons.woff2') format('woff2'), url('/assets/fonts/icons.woff') format('woff'), url('/assets/fonts/icons.ttf') format('truetype'), url('/assets/fonts/icons.svg#lato') format('svg')

.nav-icon
  width: 20px
  height: 20px
  background-size: contain
  background-repeat: no-repeat
  float: left

  & + div
    margin-left: 56px

.india-flag
  width: 28px
  height: 20px
  background: url('../images/india-flag.svg') no-repeat
  background-size: contain
  display: inline-block
  vertical-align: middle
  position: relative

  &:hover
    &:after
      pointer-events: none
      position: absolute
      width: 200px
      text-align: center
      font-size: 14px
      color: rgba(255, 255, 255, 0.9)
      line-height: 20px
      border-radius: 4px
      content: 'Razorpay is currently available only for Indian businesses'
      padding: 10px 20px
      background: rgba(0, 0, 0, 0.8)
      left: -100px
      top: 100%
      margin-top: 10px

    &:before
      content: ''
      position: absolute
      border: 8px solid transparent
      bottom: -10px
      left: 6px
      border-bottom-color: rgba(0, 0, 0, 0.6)

nav
  position: relative
  z-index: 99
  height: 85px
  background-color: #041280

  .rzp-logo
    float: left
    z-index: 99999
    margin: 0 20px 0 0

  .nav-line
    margin-left: 9px

  .button-anchor
    position: relative
    top: -2px

#nav-signup
  top: -2px

#nav
  &.new-navbar
    z-index: 100
    color: #5f6c7d
    font-size: 13px
    line-height: 23px
    width: 100%
    -webkit-transition: 0.3s background ease-out
    transition: 0.3s background ease-out
    padding-top: 24px

    .nav-icon
      width: 40px
      height: 40px
      width: 32px
      height: 32px
      background-color: #3987f0
      border-radius: 100%

      &.purple
        background: -webkit-linear-gradient(261.43deg, #2095ff -16.05%, #6416ff 116.32%)
        background: linear-gradient(188.57deg, #2095ff -16.05%, #6416ff 116.32%)

    .column
      padding: 20px 24px
      margin: 0

      h4
        color: #808599
        font-size: 12px
        letter-spacing: 0.86px
        margin-top: 4px

        & + ul
          margin-top: -9px

      a
        padding: 14px 24px

    .nav1
      .nav-icon
        width: 32px
        height: 32px

        & + div
          margin-left: 46px

    i
      &.i-down-chevron
        display: none

    .nav-item
      display: inline-block
      padding: 14px 16px
      margin-top: -8px
      position: relative
      vertical-align: middle
      cursor: pointer
      -webkit-user-select: none
      -ms-user-select: none
      user-select: none
      font-size: 15px
      font-weight: normal

      &::before
        display: none

      .column
        width: 280px

      &.pad-0
        padding: 0

      &.nav1
        .columns
          width: 884px

      &.nav2
        .column
          width: 351px

        .columns
          width: 280px

      &.nav3
        .columns
          width: 400px

          h4
            margin-bottom: 8px

            &:not(:first-child)
              margin-top: 16px

          a
            padding-top: 8px
            padding-bottom: 8px

      &.nav4
        .column
          width: 320px

      span
        -webkit-transition: all 0.2s
        transition: all 0.2s

      &.loading
        .sub
          -webkit-animation-duration: 0s !important
          animation-duration: 0s !important

      &:hover
        & > span
          text-shadow: 0 0 0 #528ff0
          color: #528ff0

        &::after
          -webkit-transform: scaleY(1)
          -ms-transform: scaleY(1)
          transform: scaleY(1)

      &.active
        .sub
          opacity: 1
          pointer-events: all
          -webkit-animation: 0.4s intro cubic-bezier(0.25, 0.46, 0.45, 0.94)
          animation: 0.4s intro cubic-bezier(0.25, 0.46, 0.45, 0.94)

      &.inactive
        .sub
          -webkit-animation: 0.195s outro cubic-bezier(0.25, 0.46, 0.45, 0.94)
          animation: 0.195s outro cubic-bezier(0.25, 0.46, 0.45, 0.94)

    .tag
      display: inline-block
      background: #08ca73
      color: #fff
      font-size: 11px
      line-height: 18px
      height: 17px
      padding: 0 4px
      border-radius: 2px
      margin-left: 8px
      font-weight: bold

    .sub
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      position: absolute
      top: 100%
      color: #555
      opacity: 0
      pointer-events: none
      cursor: default
      z-index: 9999
      overflow: hidden
      max-width: 1080px
      border: 1px solid rgba(0, 0, 0, 0.12)
      border-radius: 6px
      background-color: #fff
      box-shadow: 8px 8px 8px 0 rgba(61, 68, 78, 0.07)

      &.payments-sub
        text-align: center
        width: 1225px
        max-width: 1225px
        left: -220px
        background: transparent
        box-shadow: unset
        border: unset

        .upper-content
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06)
          position: relative
          z-index: 2

        .lower-content
          position: relative
          z-index: 1

        .column-3
          ul
            &:not(:last-child)
              margin-bottom: 16px

      &.left-border-sub
        width: 632px
        left: -90px
        border: unset
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12)
        padding: 0 28px

        &.support-sub
          width: 272px

        .content
          width: 100%

        .columns
          -webkit-flex-wrap: nowrap
          -ms-flex-wrap: nowrap
          flex-wrap: nowrap
          width: 100%

          .column
            padding: 40px 26px

            h4
              font-weight: normal
              margin-bottom: 22px

            li
              padding-top: 4px
              padding-bottom: 4px

            a
              border-left: 4px solid transparent
              padding-top: 4px
              padding-bottom: 4px
              -webkit-transition: border 0.1s ease, color 0.1s ease
              transition: border 0.1s ease, color 0.1s ease
              position: relative

              &:before
                content: ''
                height: 74px
                width: 1px
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0))
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0))
                z-index: -1
                position: absolute
                left: -2.1px
                top: -20px
                -webkit-transition: opacity 0.2s ease
                transition: opacity 0.2s ease
                opacity: 0

              .link
                .forward-icon
                  opacity: 0
                  -webkit-transition: opacity 0.1s ease, left 0.2s ease
                  transition: opacity 0.1s ease, left 0.2s ease
                  font-size: 12px
                  position: relative
                  left: 0
                  top: -1px

              &:hover
                border-left: 4px solid #3987f0

                &:before
                  opacity: 1
                  -webkit-transition: opacity 0.2s ease
                  transition: opacity 0.2s ease

                .link
                  color: #3987f0

                  .forward-icon
                    opacity: 1
                    left: 8px

            &::after
              content: unset

  #nav.new-navbar .nav-item:hover > span
    color: #528ff0

    text-shadow 0 0 0 #528ff0
      &.banking-sub
        text-align: center
        width: 1225px
        max-width: 1225px
        left: -320px
        background: transparent
        box-shadow: none
        border: unset

        .nav-icon
          & + div
            margin-left: 48px

        .columns
          -webkit-flex-wrap: nowrap
          -ms-flex-wrap: nowrap
          flex-wrap: nowrap

        .upper-content
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12)
          position: relative

        .lower-content
          background: #f4f9ff
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12)
          width: calc(100% - 100px) !important
          display: -webkit-inline-box !important
          display: -webkit-inline-flex !important
          display: -ms-inline-flexbox !important
          display: inline-flex !important
          padding-right: 0 !important

          .columns
            padding-left: 20px

            .column
              display: contents

              .content
                display: -webkit-box
                margin-top: 8px

                .forward-icon
                  width: 5px

                p
                  padding-top: 2px

        .lower-content--design
          height: 65px

      &.resources-sub
        width: 840px
        left: -250px

        .columns
          .column
            &:last-child
              left: -20px

      &.card-links-sub
        display: block

        .columns
          width: 100%

          .column
            .link
              font-size: 16px
              color: #2f3b53
              -webkit-transition: color 0.1s ease
              transition: color 0.1s ease

              .forward-icon
                opacity: 0
                -webkit-transition: opacity 0.1s ease, left 0.2s ease
                transition: opacity 0.1s ease, left 0.2s ease
                font-size: 12px
                position: relative
                left: 0
                top: -1px

            li
              & > a
                &:hover
                  .nav-icon
                    background: -webkit-linear-gradient(59.45deg, #6ac7ff 11.05%, #148aff 90.09%)
                    background: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%)
                    margin-left: 0

                  .link
                    color: #3987f0

                    .forward-icon
                      opacity: 1
                      left: 8px

            h4
              margin-bottom: 8px
              font-weight: normal

            &::after
              content: unset

        .upper-content
          background-color: #fff
          text-align: left
          border-radius: 8px
          padding: 20px 30px

          li
            & > a
              padding: 17px 24px
              border-radius: 6px

              &:hover
                box-shadow: 0 2px 22px rgba(202, 202, 202, 0.25)

        .lower-content
          background-color: #f9fbfe
          text-align: left
          display: inline-block
          width: calc(100% - 24px)
          border-radius: 0 0 6px 6px
          padding: 0 20px

          h4
            & + ul
              margin-top: 0

      li
        display: block
        padding: 0
        margin: 0 -24px
        color: #528ff0

    h4
      font-size: 13px
      font-weight: 600
      line-height: 24px
      text-transform: uppercase
      letter-spacing: 0.86px

    .link
      font-weight: bold
      letter-spacing: -0.1px
      color: #515978
      font-size: 15px
      line-height: 20px
      padding: 0

    p
      font-size: 14px
      line-height: 20px
      margin: 0
      color: rgba(0, 0, 0, 0.54)
      letter-spacing: -0.2px

    .other
      width: 200px
      -webkit-flex-basis: 45%
      -ms-flex-preferred-size: 45%
      flex-basis: 45%
      position: relative
      background-color: #fafafa
      padding: 24px
      padding-left: 32px

      &::before
        content: ''
        position: absolute
        top: 0
        left: 24px
        right: 24px
        border-top: 1px solid #eaeaea

      h4
        line-height: 20px
        margin: 0
        margin-right: 16px
        margin-bottom: 2px
        color: #808599

      li
        margin: 0

      .link
        color: #515978
        font-weight: 600
        -webkit-transition: 0.3s
        transition: 0.3s

        &:hover
          color: #528ff0 !important
          margin-left: 3px

    .nav-box
      background: #fff
      position: absolute
      width: 100px
      height: 100px
      left: -2000px
      opacity: 0
      pointer-events: none
      -webkit-transition: 0.3s opacity
      transition: 0.3s opacity
      -webkit-transform-origin: 0 0
      -ms-transform-origin: 0 0
      transform-origin: 0 0
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)

    &.opened
      .nav-box
        opacity: 1
        pointer-events: all
        margin-top: 0

#nav.new-navbar .other ul, #nav.new-navbar .other li
  display: block

#nav.new-navbar .column, #nav.new-navbar .other
  padding: 18px 24px

#nav.new-navbar .column a, #nav.new-navbar .other a
  display: block

#nav.new-navbar .column a .nav-icon, #nav.new-navbar .other a .nav-icon
  -webkit-transition: 0.1s margin-left ease-in
  transition: 0.1s margin-left ease-in
  margin-left: 0

#nav.new-navbar .column a:hover .link, #nav.new-navbar .other a:hover .link
  color: #528ff0
  text-decoration: none

#nav.new-navbar .column a:hover p, #nav.new-navbar .other a:hover p
  color: #6d81a1

#nav.new-navbar .column a:hover .nav-icon, #nav.new-navbar .other a:hover .nav-icon
  -webkit-transition: 0.1s margin-left ease-in
  transition: 0.1s margin-left ease-in
  margin-left: 2px

#nav-mob-header-copy
  position: fixed
  width: 280px
  right: 0
  top: 0
  z-index: 9998
  -webkit-transition: 0s opacity
  transition: 0s opacity
  pointer-events: none
  opacity: 0
  text-align: left

#ham-menu
  position: absolute
  width: 20px
  height: 20px
  top: 0px
  right: 0
  padding: 22px
  box-sizing: content-box
  z-index: 99999
  display: none
  cursor: pointer

  #ham-menu-inner
    position: relative
    -webkit-transform: translateY(10px)
    -ms-transform: translateY(10px)
    transform: translateY(10px)
    -webkit-transition: 0.3s transform
    transition: 0.3s transform

  .spoke
    width: 100%
    height: 2px
    border-radius: 8px
    background: #fff
    -webkit-transform-origin: center center
    -ms-transform-origin: center center
    transform-origin: center center
    -webkit-transition: 0.3s
    transition: 0.3s
    position: absolute

    &:nth-child(1)
      -webkit-transform: translateY(-6px)
      -ms-transform: translateY(-6px)
      transform: translateY(-6px)

    &:nth-child(2)
      -webkit-transform: translateY(0)
      -ms-transform: translateY(0)
      transform: translateY(0)
      opacity: 1

    &:nth-child(3)
      -webkit-transform: translateY(6px)
      -ms-transform: translateY(6px)
      transform: translateY(6px)

.backdrop
  content: ''
  position: fixed
  background: #0f326b
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 100
  opacity: 0
  display: none
  -webkit-transition: 0.4s
  transition: 0.4s
  pointer-events: none

@media (max-width: 1080px)
  #nav
    &.new-navbar
      .sub
        &.payments-sub
          width: 900px
          max-width: 900px
          left: -100px

        &.banking-sub
          width: 900px
          max-width: 900px
          left: -200px

          .upper-content
            box-shadow: unset

      .nav-item
        padding-left: 12px
        padding-right: 12px

        &.nav1
          .columns
            width: 100%

@media (max-width: 1023px)
  #nav
    &.new-navbar
      position: fixed
      right: 0
      top: 0
      bottom: 0
      background: #fff
      width: 280px
      overflow-x: hidden
      overflow-y: hidden
      color: #555
      -webkit-transform: translateX(100%)
      -ms-transform: translateX(100%)
      transform: translateX(100%)
      margin-top: 0
      border-left: 1px solid rgba(0, 0, 0, 0.07)
      padding-top: 0

      .sub
        position: relative
        z-index: auto
        pointer-events: all
        padding-bottom: 16px
        border: 0
        background: none

        &.banking-sub
          .lower-content
            width: 100% !important
            background: #fff

            .content
              display: block !important
              margin-top: 0 !important

        .illus
          display: none

        a
          padding: 14px 24px

        i
          display: none

          & + div
            width: auto

        li
          padding: 0
          margin: 0 -24px

        &.left-border-sub
          padding: 0 0

        &.payments-sub
          .column-3
            ul
              &:not(:first-child)
                margin-bottom: inherit

          .upper-content
            box-shadow: unset

          .lower-content
            width: 100%
            background-color: #fff
            z-index: 3

            h4
              & + ul
                margin-top: -9px

        &.support-sub
          width: inherit !important

          .columns
            .column
              .link
                font-weight: normal

      p
        font-size: 12px

      .column
        padding: 0 18px !important

      .container
        width: 100%
        padding: 0 !important
        height: 100%
        overflow-y: auto

        .mob-preview-items
          ul
            li
              & > a
                display: block
                padding: 12px 20px

                .link
                  font-size: 14px
                  font-weight: 400

                .nav-icon
                  width: 24px
                  height: 24px

                  & + div
                    margin-left: 36px

          .explore-button
            padding: 12px 20px
            font-weight: 700
            font-size: 14px
            color: #3987f0
            display: block
            width: 100%
            text-align: left
            background-color: transparent

            .i
              float: right

      .rzp-logo
        display: none

      .right
        float: none
        color: #5f6c7d !important

        .menu-item
          &::before
            content: none

        .nav-item
          &::after
            content: none

      .india-flag
        & + .nav-item
          height: 80px

      .nav-item
        display: block
        width: 100%
        padding: 0
        overflow-y: hidden
        -webkit-transition: 0.3s max-height, 0.3s background
        transition: 0.3s max-height, 0.3s background
        cursor: auto
        overflow-x: hidden
        margin-top: 0

        .nav-category
          font-size: 14px
          line-height: 17px
          padding-top: 20px
          padding-left: 20px
          padding-bottom: 6px
          color: rgba(22, 47, 86, 0.87)

          .pricing-link
            display: block

          .forward-icon
            float: right
            right: 20.5px
            position: relative
            color: #a0afca

        .lower-menu-explore
          margin: 0 -20px
          margin-top: 20px
          margin-bottom: -20px
          padding: 20px 20px
          background-color: #f9fbfe

          li
            padding-top: 0 !important
            padding-bottom: 0 !important

            & > a
              padding: 10px 24px !important

            &:last-child
              height: 50px

          .link
            font-weight: normal
            color: rgba(22, 47, 86, 0.87) !important
            display: block
            text-align: left

            .forward-icon
              opacity: 1 !important
              float: right
              color: #a0afca

          .nav-know-pricing
            color: #df8700 !important

          .login-link
            margin-top: 10px
            padding: 16px 20px
            background-color: #fff
            position: fixed !important
            top: unset !important
            width: 100%

            .nav-category
              color: #fff !important

        .login-link
          padding: 16px 20px
          background-color: #fff
          padding-top: 0
          position: fixed !important
          top: unset !important
          bottom: 0
          width: 100%

          .nav-category
            padding: 12px 30px
            font-weight: 800
            color: #fff
            font-size: 16px
            background-color: #3987f0
            text-align: center
            display: block
            text-transform: unset

        .nav-extra-icon
          margin-right: 12px

          &.mob
            display: inline-block !important

        &.nav-know-pricing
          color: #df8700 !important

          .nav-category
            color: #df8700 !important

        &.active
          background: #f5f5f5

          .sub
            right: 0

          .i-down-chevron
            -webkit-transform: rotate(180deg)
            -ms-transform: rotate(180deg)
            transform: rotate(180deg)

        .nav-icon
          margin-top: 5px

        .i-down-chevron
          position: absolute
          right: 22px
          top: 0
          font-size: 20px
          line-height: 64px
          height: 64px
          display: block
          -webkit-transition: 0.3s transform
          transition: 0.3s transform
          padding: 0

        &::after
          content: none

      a
        &.nav-item
          line-height: 64px
          height: 64px
          cursor: pointer

      h4
        margin-top: 13px
        margin-bottom: 0

      .other
        background: none
        width: 100%
        -webkit-flex-basis: auto
        -ms-flex-preferred-size: auto
        flex-basis: auto
        padding-left: 18px
        padding-top: 2px
        padding-bottom: 2px

        h4
          margin-top: 12px
          margin-bottom: 0

        a
          padding: 12px 24px

        .link
          font-weight: bold
          color: #515978

  #home
    .top-nav-login-home
      .login-link
        right: 65px
        border: 1px solid #2b83ea
        border-radius: 2px
        position: absolute
        top: 1rem
        font-size: 14px
        padding: 5px 22px
        font-size: 14px

  .backdrop
    &.nomob
      display: none !important

  .open-nav
    #home
      #ham-menu
        .spoke
          background: #000 !important

  .nomob
    display: none !important

  #ham-menu
    display: block

  .menu-header
    background: #eee
    height: 80px
    font-size: 14px
    color: #222
    line-height: 80px
    padding-left: 18px
    border-bottom: 1px solid #e0e0e0
    text-transform: uppercase
    letter-spacing: 1px

  nav
    padding: 16px 0
    position: relative

    .rzp-logo
      margin-left: 16px
      margin-top: 7px

  hr
    width: calc(100% - 40px)
    border: 1px solid #edf0f5

#nav.new-navbar .nav-item.nav1 .nav-category
  text-shadow: unset !important

@media (max-width: 1023px)
  #nav.new-navbar .nav-item.nav2 .nav-category
    font-weight: 700
    color: #162f56 !important
    text-shadow: unset !important
    text-transform: uppercase

@media (max-width: 1023px)
  #nav.new-navbar .nav-item.nav2 .nav-icon div
    margin-left: 46px

#nav.new-navbar.nav-item span
  display: block
  line-height: 64px
  cursor: auto
  padding-left: 16px

@media (max-width: 1023px)
  #nav.new-navbar .sub ul
    display: block

  #nav.new-navbar .sub li
    display: block

@media (max-width: 1023px)
  #nav.new-navbar .sub li
    display: block

#nav.new-navbar .sub.card-links-sub
  position: fixed

top 0
  background-color: #fff
  z-index: 2
  right: -100%
  -webkit-transition: right 0.2s ease
  transition: right 0.2s ease
  left: unset
  opacity: 1
  height: 100%
  overflow-y: auto

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub
    position: fixed
    top: 0
    background-color: #fff
    z-index: 2
    right: -100%
    -webkit-transition: right 0.2s ease
    transition: right 0.2s ease
    left: unset
    opacity: 1
    height: 100%
    overflow-y: auto

  #nav.new-navbar .sub.card-links-sub .i
    display: inline-block

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .i
    display: inline-block

  #nav.new-navbar .sub.card-links-sub .columns .column h4, margin-top 20px
    margin-bottom: 9px
    font-weight: 700
    color: #152d54

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .columns .column h4
    margin-top: 20px
    margin-bottom: 9px
    font-weight: 700
    color: #152d54

  #nav.new-navbar .sub.card-links-sub .columns .column .link
    font-size: 14px

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .columns .column .link
    font-size: 14px

  #nav.new-navbar .sub.card-links-sub .columns .column .link + p
    line-height: 18px

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .columns .column .link + p
    line-height: 18px

  #nav.new-navbar .sub.card-links-sub .content
    padding: 0 0

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .content
    padding: 0 0

#nav.new-navbar .sub.card-links-sub .content li > a
  padding: 10px 24px

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .content li > a
    padding: 10px 24px

  #nav.new-navbar .sub.card-links-sub .content .back-button
    padding: 16px 23px

  font-weight bold
    border-bottom: 1px solid #edf0f5

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .content .back-button
    padding: 16px 23px
    font-weight: bold
    border-bottom: 1px solid #edf0f5

  #nav.new-navbar .sub.card-links-sub .content .back-button i.i-arrow-back-ios
    margin-right: 3px

@media (max-width: 1023px)
  #nav.new-navbar .sub.left-border-sub .content .back-button i.i-arrow-back-ios
    margin-right: 3px

#nav.new-navbar .other::before
  content: none

@media (max-width: 1023px)
  #nav.new-navbar .other h4:before
    content: none

@media (min-width: 1024px)
  .backdrop
    pointer-events: none
    display: block

  #nav .new-navbar .nav1 .nav-icon
    margin-top: 8px

  .content
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex

  .nav2
    .nav-icon
      margin-top: 4px

    .nav-line
      height: 3px
      width: 0
      background-color: #528ff0
      position: absolute
      top: 40px
      opacity: 1

      -webkit-transition left .25s cubic-bezier(.25, .46, .45, .94), width .1s
        transition: left 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), width 0.1s
        -webkit-transition-delay: 0.1s
        transition-delay: 0.1s
        max-width: 0
        pointer-events: none

      &.opened
        .nav-line
          max-width: 200px

        .backdrop
          opacity: 0.06

      .other
        li
          padding: 8px 0
          position: relative

          a
            display: inline-block
            text-decoration: none

      .sub
        left: -146px

      .illus
        position: relative
        width: 194px
        padding-top: 30px
        padding-left: 24px

        &:after
          content: ''
          display: block
          position: absolute
          left: -113px
          bottom: -8px
          height: 171px
          width: 290px
          background-repeat: no-repeat
          z-index: -1

        &:before
          content: ''
          display: block
          position: absolute
          left: 0
          top: 0
          height: 100%
          width: 100%
          z-index: -2
          -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%)
          clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%)
          background: #53baff
          background: -webkit-gradient(left top, left bottom, color-stop(0%, #53baff), color-stop(100%, #fff))
          background: -webkit-linear-gradient(top, #53baff 0%, #fff 100%)
          background: linear-gradient(to bottom, #53baff 0%, #fff 100%)
          opacity: 0.08

        &.develop
          height: 261px

          &:before
            width: 113%

        &.resources
          height: 312px

          &:before
            width: 108%

        &.support
          height: 185px

          &:before
            width: 108%

        .title
          color: #528ff0
          font-family: Muli, sans-serif
          font-size: 20px
          font-weight: 800
          letter-spacing: 1px
          line-height: 33px
          text-transform: uppercase

          &:after
            content: ''
            display: block
            width: 18px
            height: 3px
            background: #49dab5
            margin-top: 10px

        .desc
          color: rgba(0, 0, 0, 0.54)
          font-size: 15px
          letter-spacing: -0.21px
          line-height: 22px
          margin-top: 16px

      .columns
        .column
          position: relative

          &::after, content '', position absolute, top 16px, bottom 16px, right 0, border-right 1px solid #f6f6f6, &:last-child
            content: none

@media (min-width: 1024px)
  #nav.new-navbar .other li:hover
    &::before, color #515978, .link
      color: #515978

@media (max-width: 1023px)
  .pre
    white-space: normal

  .dev-racer
    .btn
      width: 152px
      left: 50%
      margin: 0 0 -30px -76px

  h1
    font-size: 28px
    line-height: 40px

  h2
    font-size: 22px
    line-height: 32px

.hide
  display: none !important

.lazy
  visibility: hidden

  &.loading
    opacity: 0.2
    visibility: visible

  &.merchants-image
    opacity: 1

  &.loaded
    opacity: 1
    visibility: visible

.lazy[data-bg]
  visibility: visible

.button-anchor
  display: inline-block
  cursor: pointer
  text-decoration: none !important

  &.button-blue
    .button-anchor-wrapper
      background: #528ff0
      color: #fff
      font-weight: bold

      &:hover
        color: #fff

  .button-anchor-wrapper
    border-radius: 3px
    padding: 10px 18px
    height: 48px
    background: #fff
    position: relative
    font-weight: bold
    -webkit-transition: 0.2s
    transition: 0.2s
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    -webkit-box-pack: center
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    color: #528ff0
    border-color: #528ff0
    font-size: 15px
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05)
    border: 1px solid rgba(0, 0, 0, 0.07)

    &.border-blue
      border-color: #528ff0

    &.border-green
      border-color: #00ffb6

    &:hover
      color: #336fce

    .strip
      display: none
      width: 48px
      height: 56px
      -webkit-transform: skew(-29deg)
      -ms-transform: skew(-29deg)
      transform: skew(-29deg)
      background-color: #00ffb6
      opacity: 0.9
      position: absolute
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-box-orient: horizontal
      -webkit-box-direction: normal
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row
      -webkit-box-pack: center
      -webkit-justify-content: center
      -ms-flex-pack: center
      justify-content: center
      -webkit-box-align: center
      -webkit-align-items: center
      -ms-flex-align: center
      align-items: center
      top: -5px
      right: 20px

      i
        display: none
        -webkit-transform: skew(29deg)
        -ms-transform: skew(29deg)
        transform: skew(29deg)
        margin-left: 0
        font-size: 21px

      &.back
        -webkit-transform: skew(29deg)
        -ms-transform: skew(29deg)
        transform: skew(29deg)

        i
          -webkit-transform: skew(-29deg)
          -ms-transform: skew(-29deg)
          transform: skew(-29deg)

    &.arrow
      i
        display: inline-block
        margin: 0 0 0 5px
        font-size: 16px

        &:before
          position: relative
          top: 1px

    &.small
      height: 42px
      padding: 9px 18px

      .strip
        height: 48px
        top: -4px

    &.strip-arrow
      padding-right: 94px

      &.strip
        display: inline-block

      i
        display: inline-block
        color: #fff

        &:before
          font-weight: bold

    &.blue
      background-color: #2783f3
      color: #fff
      border-color: #2783f3

      &:hover
        background-color: #0a6feb
        border-color: #0a6feb

    &.simple
      background: none
      border: 0
      box-shadow: none
      padding: 0
      height: auto

      &:hover
        background-color: none
        border-color: none

@media (max-width: 1023px)
  #home
    #nav
      color: #5f6c7d

@media (max-width: 1023px)
  #home
    .login-link
      border: 0
      border-radius: 0

@media (max-width: 1023px)
  #home
    .top-nav-login-home
      display: block !important

      .login-link
        right: 65px
        border: 1px solid #2b83ea
        border-radius: 2px
        position: absolute
        top: 1rem
        font-size: 14px
        padding: 5px 22px
        font-size: 14px

#home #pg .product-card .svg-corner, #home #pg .pre-info .svg-corner
  position: absolute
  top: 0
  left: 0
  z-index: -1
  -webkit-transition: 0.1s all ease-in
  transition: 0.1s all ease-in

#home #pg .product-card .corner-content, #home #pg .pre-info .corner-content
  top: -9px
  position: absolute
  right: -10px
  height: 80px
  width: 80px
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 100%, 0 33%)
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 100%, 0 33%)

#home #pg .product-card .corner-content .corner-icon, #home #pg .pre-info .corner-content .corner-icon
  background: #3987f0
  border-radius: 50%
  height: 50px
  width: 50px
  position: relative
  top: 19px
  -webkit-transition: 0s all ease-in
  transition: 0s all ease-in
  left: 9px

#home #pg .product-card .corner-content .corner-icon img, #home #pg .pre-info .corner-content .corner-icon img
  width: 50px
  position: relative
  top: 2px

#home #pg .product-card:hover .corner-icon
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
  background: -webkit-linear-gradient(59.45deg, #6ac7ff 11.05%, #148aff 90.09%)
  background: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%)
  -webkit-transition: 0.3s all ease-in
  transition: 0.3s all ease-in

#home #pg .pre-info:hover .corner-icon
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
  background: -webkit-linear-gradient(59.45deg, #6ac7ff 11.05%, #148aff 90.09%)
  background: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%)
  -webkit-transition: 0.3s all ease-in
  transition: 0.3s all ease-in

@media (max-width: 1023px)
  #home
    #pg
      padding-top: 140px

      .container
        max-width: 600px
        padding: 0 21px

      h2
        &.mob
          font-size: 40px
          line-height: 122%

          span
            color: #00ffb6

          img
            margin-left: 0
            width: 211px
            margin-top: 5px

      .pre-info
        margin-top: 48px
        padding: 20px
        background: none !important
        max-width: 318px
        border: none !important

        .corner-icon
          -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
          background: -webkit-linear-gradient(59.45deg, #6ac7ff 11.05%, #148aff 90.09%) !important
          background: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%) !important

        .svg-corner
          display: block

        .corner-content
          display: block
          -webkit-transform: rotate(-2deg)
          -ms-transform: rotate(-2deg)
          transform: rotate(-2deg)
          top: -13px
          right: -12px

        .title
          &.mob
            font-size: 20px
            line-height: 150%

        ul
          &.list
            font-size: 16px
            line-height: 200%
            margin-top: 16px

            li
              padding-left: 27px

              &:before
                left: 10px

        .btn-list
          margin-top: 26px !important
          -webkit-box-align: initial
          -webkit-align-items: initial
          -ms-flex-align: initial
          align-items: initial
          -webkit-box-orient: vertical
          -webkit-box-direction: reverse
          -webkit-flex-direction: column-reverse
          -ms-flex-direction: column-reverse
          flex-direction: column-reverse

          .learn-more
            margin-bottom: 24px
            margin-left: 0

      .product-lists
        .columns
          .column
            margin: 0

        .product-card
          margin-top: 34px !important
          width: 318px
          height: 214px
          margin-left: initial !important
          margin-right: initial !important

          &:hover
            &:after
              display: none

            .svg-corner
              -webkit-filter: none !important
              filter: none !important

          .content
            padding: 25px 48px 24px 20px

            .title
              margin-bottom: 24px
              line-height: 110%

            .learn-more
              bottom: 18px

            .i-arrow-forward-ios
              bottom: 18px
              font-size: 13px
              left: 105px

            .desc
              font-size: 16px

          &:first-child
            margin-top: 32px

          .svg-desktop
            display: none

          .svg-mob
            display: block

          .corner-icon
            top: 23px
            left: 13px
            background: -webkit-linear-gradient(59.45deg, #6ac7ff 11.05%, #148aff 90.09%) !important
            background: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%) !important

          .corner-content
            top: -12px
            right: -9px

@media (max-width: 1023px)
  #home #pg .pre-info .svg-corner
    top: -20px
    left: -20px

  #home #pg .product-lists .product-card .svg-corner
    top: -20px
    left: -20px

@media (max-width: 1023px)
  #home
    #pg
      padding-top: 220px

      .pre-info
        height: 493px

      .svg-mob
        position: absolute
        top: 5px
        left: 2px
        z-index: -1

      .product-lists
        .product-card
          .svg-mob
            opacity: 1
            top: -20px
            left: -20px

          .svg-desktop
            display: none

@media (max-width: 1023px)
  #home
    &.open-nav
      #ham-menu
        .spoke
          background: #000

    #ham-menu
      .spoke
        background: #fff

@media (max-width: 480px)
  #home
    #plane
      margin: 0 0 32px -80px

    .dark-atop
      margin-top: -380px

    .merchants-list
      margin: 0
      padding: 12px

      &::after
        -webkit-transform: none
        -ms-transform: none
        transform: none

  .icon
    width: 48px
    height: 48px
    background: no-repeat center
    background-size: contain